//VARIABLES GLOBALES
$font-color: #444;
$background-color: #022c43;
$nav-background: #181818;

//COLORES DEL TEMA

$celeste: #61dbfb;
$amarillo: #ffd700;
$blanco: #fff;
$gris-claro: #8d8d8d;
$negro: #333;
$azul: #115173;